---
import Layout from "../layouts/Layout.astro"
---
<Layout>
    <div>
        <h1>OUR <span id = "gradient">AMAZING</span> GROUP</h1>
        <p>Pioneering the intersection of sustainable development and digital innovation.<br>Where high-performance engineering meets a low-carbon future.</p> 
        <!-- <img src="/src/assets/team.png" alt="Our Team"> -->
    </div>
</Layout>


<style>
    * {
        margin: 0;
        padding: 0;
    }
    div{
        height: 100vh;
        /* background-color: #0a0f0a; */
        background-image: url("/group.png");
        background-size: cover;
        background-position: center;    
        background-repeat: no-repeat;
        position: relative;
        display: flex;
        justify-content: center;

    }
    /* img {
        height: 100vh;
        width: 100vw;
        position: absolute;
        bottom:0;
    } */
     h1{
        font-size: 48px;
        color:#e0f2f1;
        position: absolute;
        top: 10%;
     }
     #gradient {
        background: linear-gradient(135deg, #4a7c44 0%, #34e9bd 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
     }
     p{
        color: #a0ac9f;
        font-size: 24px;
        text-align: center;
        position: absolute;
        top: 24%;
     }
</style>