---
import Layout from "../layouts/Layout.astro"
---
<Layout>
<div id ="main">
    <h1 id="head">Our <span class="gradient">Projects</span></h1>
    <p id="para">Innovating at the intersection of bits and botany.</p>
    <div id="project">
        <div class="container">
            <div id="img"></div>
            <h3>(; Project Clover</h3>
            <p class="para1">Project Clover is our flagship initiative, focused on developing a cutting-edge electric vehicle that combines sustainability with high performance.</p> 
            <div id = contributors>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" width="30px" ><!--!Font Awesome Free v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M320 312C253.7 312 200 258.3 200 192C200 125.7 253.7 72 320 72C386.3 72 440 125.7 440 192C440 258.3 386.3 312 320 312zM289.5 368L350.5 368C360.2 368 368 375.8 368 385.5C368 389.7 366.5 393.7 363.8 396.9L336.4 428.9L367.4 544L368 544L402.6 405.5C404.8 396.8 413.7 391.5 422.1 394.7C484 418.3 528 478.3 528 548.5C528 563.6 515.7 575.9 500.6 575.9L139.4 576C124.3 576 112 563.7 112 548.6C112 478.4 156 418.4 217.9 394.8C226.3 391.6 235.2 396.9 237.4 405.6L272 544.1L272.6 544.1L303.6 429L276.2 397C273.5 393.8 272 389.8 272 385.6C272 375.9 279.8 368.1 289.5 368.1z"/></svg>
                <h4>Contributors:</h4>
                <p class="name">Roy, Melroy</p>
                <span class = "tech-stack">React js</span>
                <span class = "tech-stack">Node js</span>
                <span class = "tech-stack">MongoDB</span>
            </div>
        </div>
        <div class="container">
            <div id="img"></div>
            <h3>(; Project Clover</h3>
            <p class="para1">Project Clover is our flagship initiative, focused on developing a cutting-edge electric vehicle that combines sustainability with high performance.</p> 
            <div id = contributors>
                <h4>Contributors:</h4>
                <p class="name">Roy, Melroy</p>
                <span class = "tech-stack">React js</span>
                <span class = "tech-stack">Node js</span>
                <span class = "tech-stack">MongoDB</span>
            </div>
        </div>
        <div class="container">
            <div id="img"></div>
            <h3>(; Project Clover</h3>
            <p class="para1">Project Clover is our flagship initiative, focused on developing a cutting-edge electric vehicle that combines sustainability with high performance.</p> 
            <div id = contributors>
                <h4>Contributors:</h4>
                <p class="name">Roy, Melroy</p>
                <span class = "tech-stack">React js</span>
                <span class = "tech-stack">Node js</span>
                <span class = "tech-stack">MongoDB</span>
            </div>
        </div>
        <div class="container">
            <div id="img"></div>
            <h3>(; Project Clover</h3>
            <p class="para1">Project Clover is our flagship initiative, focused on developing a cutting-edge electric vehicle that combines sustainability with high performance.</p> 
            <div id = contributors>
                <h4>Contributors:</h4>
                <p class="name">Roy, Melroy</p>
                <span class = "tech-stack">React js</span>
                <span class = "tech-stack">Node js</span>
                <span class = "tech-stack">MongoDB</span>
            </div>
        </div>
        <div class="container">
            <div id="img"></div>
            <h3>(; Project Clover</h3>
            <p class="para1">Project Clover is our flagship initiative, focused on developing a cutting-edge electric vehicle that combines sustainability with high performance.</p> 
            <div id = contributors>
                <h4>Contributors:</h4>
                <p class="name">Roy, Melroy</p>
                <span class = "tech-stack">React js</span>
                <span class = "tech-stack">Node js</span>
                <span class = "tech-stack">MongoDB</span>
            </div>
        </div>
        <div class="container">
            <div id="img"></div>
            <h3>(; Project Clover</h3>
            <p class="para1">Project Clover is our flagship initiative, focused on developing a cutting-edge electric vehicle that combines sustainability with high performance.</p> 
            <div id = contributors>
                <h4>Contributors:</h4>
                <p class="name">Roy, Melroy</p>
                <span class = "tech-stack">React js</span>
                <span class = "tech-stack">Node js</span>
                <span class = "tech-stack">MongoDB</span>
            </div>
        </div>
    </div>
</div>
</Layout>

<style>
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#main{
    min-height: 180vh;
    height: auto;
    background-color:#0a0f0a ;
}
.container{
        background-color: #ffffff08;
        border: 1px solid #ffffff1a;
        text-align: center;
        border-radius: 20px;
        margin: 20px;
        padding: 40px;
        border-radius: 20px;
        justify-items: start;
}
#project{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    justify-content: center;
    margin-left: 130px;
    margin-right: 130px;
}
#img{
    background-color: #ffffff1a;
    border-radius: 20px;
    margin-bottom: 25px;
    width: 97%;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("/logo1.jpeg");
    background-size:250px;
    background-position: center;
    background-repeat: no-repeat;
}
h3{
    color: #e0f2f1;
    font-size: 24px;
    margin-bottom: 15px;
}
.para1{
    color: #a0ac9f;
    font-size: 16px;
    margin-bottom: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.name{
    color: #a0ac9f;
    font-size: 16px;
    padding-bottom: 20px;
    margin-left: 10px;
}
#contributors{
    border-top: 1px solid #ffffff1a;
    width: 100%;
    justify-items: start;
    }
#contributors h4{
        color: #a0ac9f;
        font-size: 11px;
        margin-bottom: 10px;
        text-align: left;
        padding-left: 20px;
        margin-top: 10px;
    }
#contributors p{
        color: #e0f2f1;
        font-size: 16px;
        margin-bottom: 10px;
        text-align: left;
        padding-left: 20px;
    }
    .tech-stack{
        display: inline-block;
        background-color: #34e9bd;
        color: #0a0f0a;
        padding: 5px 10px;
        border-radius: 15px;
        font-size: 12px;
    }
    #head{
        font-size: 48px;
        color: #e0f2f1;
        text-align: center;
        padding-top: 130px;
    }
    .gradient{
        background: linear-gradient(135deg, #4a7c44 0%, #34e9bd 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
    #para{
        color: #a0ac9f;
        font-size: 18px;
        text-align: center;
        margin-top: 10px;
        padding-bottom: 100px;
        padding-left: 30px;
        padding-right: 30px;
    }
    svg{
        position: absolute;

    }
</style>